
		
			
			body{
				background-color: #EAf6f6;
			}
			
			#rang{
				color: yellow;
			}

			hr{
				border-style : none;
				border-top-style : dotted;
				width: 30px;
				height: 1px; 
				border-color :grey;
				border-width: 2px;
			}

			h1{
				color : #66BFBF;
			}
			h2{
				color: #66BFBF;
			}
	
